{# templates/product/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %} 


 {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.name, 'Product Name') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.description, 'Product Description') }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.price, 'Price') }}
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.price) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.stockQuantity, 'Stock Quantity') }}
                        {{ form_widget(form.stockQuantity, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.stockQuantity) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.createdAt, 'Created Date') }}
                        {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.createdAt) }}
                    </div>
                    <button type="submit" class="btn btn-success">Save changes</button> 
                {{ form_end(form) }}
{% endblock %}